#imagen-libro {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta la altura máxima según sea necesario */
    margin: auto;
    display: block;
}

#comentarios .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#comentarios .card-body {
    padding: 15px;
}