#pedidosPendientes .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#pedidosPendientes .card-body {
    padding: 15px;
}

#contenedorPedido .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#contenedorPedido .card-body {
    padding: 15px;
}