#carrito .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#carrito .card-body {
    padding: 15px;
}

#carrito {
    max-height: 300px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    padding-right: 15px; /* Para que el contenido no quede oculto detrás de la barra de desplazamiento */
}